.login-div {
    width:50rem;
    margin: 2rem auto;
    background-color: bisque;
    border-radius: 10px;
    box-shadow: 5px 5px 60px 10px rgba(.1,.1, .1, .1)
}

.form {
    max-width: 40rem;
    margin: 2rem auto;
    padding: 2rem 2rem;
  }
  
  .form label,
  .form input,
  .form textarea {
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
    color: brown;
    font-weight: 400;
  }
  
  .form input,
  .form textarea {
    font: inherit;
    padding: 0.25rem;
    border-radius: 5px;
    border-color: bisque;
  }

  .form input:focus {
    outline: none;
  }
  
  .actions {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
  }
  
  
  
  .actions a {
    text-decoration: none;
    background-color:rgb(201, 64, 64);
    font: inherit;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    color: rgb(248, 235, 235);
    border: none;
  }

  
  .actions a:hover {
    transform: scale(0.98);
  } 
  
  .actions button {
    text-decoration: none;
    background-color:rgb(201, 64, 64);
    font: inherit;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    color: rgb(248, 235, 235);
    border: none;
  }

  .actions button:hover {
    transform: scale(0.98);
  }