.nav-div {
    background-color: rgb(230, 168, 94);
    box-shadow:0px 2px 10px rgb(207, 173, 131);
    margin-bottom: 80px;
}

.header {
    max-width: 70rem;
    height: 4rem;
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    
  }
  
  .list {
    display: flex;
    gap: 2rem;
    color:brown;
    font-size: 17px;
  }
  
  .list a {
    text-decoration: none;
    color:brown;
    font-weight: 500;
  }
  
  .list a:hover,
  .list a.active {
    color: rgb(233, 66, 66);
    transform: scale(1.05);
  }

   .nav-items {
    list-style-type: none;
   }

   .nav-items:hover {
    transform: scale(1.05);
   }

   .badge {
    background-color:rgb(250, 211, 164);
    border-radius: 30px;
    padding: 0.19rem 0.9rem;
    color: brown;
    border-color: brown;
    margin-top: -2px;
  }

  .checkout {
    border: none;
    background-color:transparent; 
    color:brown; 
    font-weight: 500;
    font: inherit;
    font-size: 17px;
  } 

  .checkout:hover {
    color: rgb(233, 66, 66);
    transform: scale(1.05);
  }
  .cart-button {
    background-color: transparent;
    color: brown;
    border: none;
  }
  
  .cart-button:hover,
  .cart-button:active {
    transform: scale(1.05);
    color: rgb(233, 66, 66);
  }
  
  .cart-button span {
    margin: 0 0.1rem;
  }

  .bump {
    animation: bump 300ms ease-in-out;
  }
  
  @keyframes bump {
    0% {
      -webkit-transform:  scale(1) rotateZ(0deg);
    }
    10% {
       -webkit-transform:   scale(.9) rotateZ(-20deg);
    }
    30% {
       -webkit-transform:   scale(1.1) rotateZ(-40deg);
    }
    50% {
       -webkit-transform:  scale(1.15) rotateZ(10deg);
    }
    100% {
       -webkit-transform:  scale(1) rotateZ(0deg);
    }
  }