  .item {
    display: flex;
    background-color: bisque;
  }

  .item a {
    text-decoration: none;
    color: inherit;
    display: flex;
    
    border-radius: 4px;
    overflow: hidden;
  }
  
  .item:hover {
    transform: scale(1.02);
    background-color: rgb(250, 211, 164);
  }
  
  .item img {
    width: 33%;
    object-fit: cover;
  }
  
 
  .item h2, .item p {
    margin: 0 0 1rem 0;
    color:brown;
    margin-left: 10px;
  }

  .item p {
    margin-top: 7px;
  }

   button {
    text-decoration: none;
    height: 50px;
    background-color:rgb(201, 64, 64);
    font: inherit;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 4px;
    color: rgb(248, 235, 235);
    border: none;
   }
    
   