  .item {
    display: flex;
    background-color: rgb(230, 168, 94);
    box-shadow: -5px 5px 10px 1px rgba(75, 74, 74, 0.2);
    padding: 1px;
    border-radius: 5px;
  }

  .item a {
    text-decoration: none;
    color: inherit;
    display: flex;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .item:hover {
    transform: scale(1.02);
    background-color: rgb(250, 211, 164);
  }
  
  .item img {
    width: 33%;
    object-fit: cover;
  }
  
 
  .item h2, .item p {
    margin: 0 0 1rem 0;
    color:brown;
    margin-left: 10px;
  }

  .item p {
    margin-top: 7px;
  }

   