.nav-div {
    background-color:rgb(230, 168, 94);
    box-shadow:0px 2px 10px rgb(207, 173, 131);
    margin-bottom: 80px;
}

.header {
    max-width: 70rem;
    height: 4rem;
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
  }
  
  .list {
    display: flex;
    gap: 2rem;
    color:brown;
    font-size: 17px;
  }
  
  .list a {
    text-decoration: none;
    color:brown;
    font-weight: 500;
    
  }
  
  .list a:hover,
  .list a.active {
    color: var(--color-primary-800);
  }

   li {
    list-style-type: none;
   }

   .badge {
    background-color:rgb(250, 211, 164);
    border-radius: 30px;
    padding: 0.15rem 1.25rem;
    color: brown;
    border-color: brown;
  }

  .cart-button {
    background-color: transparent;
    color: brown;
    margin-top: -10px;
  }
  
  .cart-button:hover,
  .cart-button:active {
    font-weight: 500;
  }
  
  .cart-button span {
    margin: 0 0.1rem;
  }